<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head") %>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>

</head>

<body>
  <div class="container">
    <div class="logo">코다마켓</div>

    <form id="form" method="post" action="/auth" class="login-form">
      <input type="text" name="id" placeholder="아이디" class="loginbox" required /><br />
      <input type="password" name="password" placeholder="비밀번호" class="loginbox" required />
    </form>


      <% if (locals.loginFailed) { %>
      <div class="loginFailed-message">
        <span>아이디 또는 비밀번호가 잘못 입력 되었습니다:(</span>
        <span
          ><strong>아이디</strong>와 <strong>비밀번호</strong>를 정확히 입력해
          주세요!</span
        >
      </div>
      <% } %>

      <button type="submit" form="form" class="login-btn">로그인</button>
    </div>
  </body>
</html>
