<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../layout/head") %>

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="logo">
      코다마켓
    </div>

    <form class="login-form">
      <input type="text" placeholder="아이디" class="loginbox" required><br>
      <input type="password" placeholder="비밀번호" class="loginbox" required>
    </form>

    <div class="login-menu">
      <div class="keep-login">
        <input type="checkbox" name="xxx" value="yyy" checked>
        <a href="#">로그인 유지</a>
      </div>
      <a href="#">아이디/비밀번호 찾기</a>
    </div>

    <button class="login-btn">로그인</button>
  </div>
</body>

</html>