<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head") %>
    <title>signup Page</title>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/signup.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="form_container">
        <form action="/signup" method="POST" >
          <h3>회원 가입</h3>

            <select name="location" class="location_box">
              <option value="1" selected="selected">지역 선택</option>
              <option value="서울특별시">서울특별시</option>
              <option value="부산광역시">부산광역시</option>
              <option value="인천광역시">인천광역시</option>
              <option value="대구광역시">대구광역시</option>
              <option value="울산광역시">울산광역시</option>
              <option value="광주광역시">광주광역시</option>
              <option value="대전광역시">대전광역시</option>
              <option value="경기도">경기도</option>
              <option value="강원도">강원도</option>
              <option value="충청북도">충청북도</option>
              <option value="충청남도">충청남도</option>
              <option value="전라북도">전라북도</option>
              <option value="전라남도">전라남도</option>
              <option value="경상북도">경상북도</option>
              <option value="경상남도">경상남도</option>
              <option value="제주도">제주도</option>
            </select>

          <div class="form_group">
            <input name="id" type="text" class="form_control" required autocomplete="off" onkeyup="id_check(this.value)">

           

            <span>아이디</span>
            <span class="border"></span>

            <span class="idCheck">
              <i class="fas fa-check-circle"></i>
            </span>
            <span class="idCheckNo">
              <i class="fas fa-times"></i>
            </span>

          </div>

          <div class="form_group">
            <input name="name" type="text" class="form_control" required autocomplete="off">
            <span>닉네임</span>
            <span class="border"></span>
          </div>

          <div class="form_group">
            <input name="pwd" type="password" class="form_control" onkeyup="pw1_check(this.value)" required >
            <span>패스워드</span>
            <span class="border"></span>

            <span class="pw1Check">
              <i class="fas fa-check-circle"></i>
            </span>
            <span class="pw1CheckNo">
              <i class="fas fa-times"></i>
            </span>

          </div>

          <div class="form_group">
            <input name="pwd_check" type="password" class="form_control" onkeyup="pw2_check(this.value)" required >
            <span>패스워드 확인</span>
            <span class="border"></span>

            <span class="pw2Check">
              <i class="fas fa-check-circle"></i>
            </span>
            <span class="pw2CheckNo">
              <i class="fas fa-times"></i>
            </span>

          </div>

          <div class="form_group">
            <input name="email" type="text" class="form_control" required autocomplete="off" >
            <span>E-mail</span>
            <span class="border"></span>
          </div>

          <div class="signup_btn">
            <input type="submit" value="신청하기" />
          </div>
        </form>
      </div>
    </div>
    <script src="/js/signup.js"></script>
  </body>
</html>
