<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head") %>
    <title>signup Page</title>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/signup.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="form_container">
        <form action="/cart/1" method="post">
          <h3>회원 가입</h3>

          <div class="form_group">
            <input name="user_id" type="text" class="form_control" required />
            <span>아이디</span>
            <span class="border"></span>
          </div>

          <div class="form_group">
            <input name="name" type="text" class="form_control" required />
            <span>닉네임</span>
            <span class="border"></span>
          </div>

          <div class="form_group">
            <input name="pwd" type="password" class="form_control" required />
            <span>패스워드</span>
            <span class="border"></span>
          </div>

          <div class="form_group">
            <input
              name="pwd_check"
              type="password"
              class="form_control"
              required
            />
            <span>패스워드 확인</span>
            <span class="border"></span>
          </div>

          <div class="form_group">
            <input name="email" type="text" class="form_control" required />
            <span>E-mail</span>
            <span class="border"></span>
          </div>

          <div class="signup_btn">
            <input type="submit" value="신청하기" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
