<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./layout/head") %>

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/category.css">

    <title>Category</title>
</head>

<body>
  <header>
    <ul class="btn-list">
      <li class="back-btn">
        <a href="#">
          <i class="fas fa-arrow-left"></i>
        </a>
      </li>
    </ul>

    <h1>카테고리</h1>
  </header>

  <main role="main">
    <div class="item">
      <img src="img/star.png" alt="">
      <span>인기매물</span>
    </div>
    <div class="item">
      <img src="img/car.png" alt="">
      <span>중고차</span>
    </div>
    <div class="item">
      <img src="img/laptop.png" alt="">
      <span>디지털기기</span>
    </div>
    <div class="item">
      <img src="img/electric-pot.png" alt="">
      <span>생활가전</span>
    </div>
    <div class="item">
      <img src="img/sofa.png" alt="">
      <span>가구/인테리어</span>
    </div>
    <div class="item">
      <img src="img/baby-bottle.png" alt="">
      <span>유아동</span>
    </div>
    <div class="item">
      <img src="img/cooking-pot.png" alt="">
      <span>생활/가공식품</span>
    </div>
    <div class="item">
      <img src="img/childrens-book.png" alt="">
      <span>유아도서</span>
    </div>
    <div class="item">
      <img src="img/tennis.png" alt="">
      <span>스포츠/레저</span>
    </div>
    <div class="item">
      <img src="img/hand-bag.png" alt="">
      <span>여성잡화</span>
    </div>
    <div class="item">
      <img src="img/dress.png" alt="">
      <span>여성의류</span>
    </div>
    <div class="item">
      <img src="img/suit.png" alt="">
      <span>남성패션/잡화</span>
    </div>
    <div class="item">
      <img src="img/game-controller.png" alt="">
      <span>게임/취미</span>
    </div>
    <div class="item">
      <img src="img/shampoo.png" alt="">
      <span>뷰티/미용</span>
    </div>
    <div class="item">
      <img src="img/pet-food.png" alt="">
      <span>반려동물용품</span>
    </div>
    <div class="item">
      <img src="img/book-and-cd.png" alt="">
      <span>도서/티켓/음반</span>
    </div>
    <div class="item">
      <img src="img/plant.png" alt="">
      <span>식물</span>
    </div>
    <div class="item">
      <img src="img/box.png" alt="">
      <span>기타 중고물품</span>
    </div>
  </main>
</body>

</html>