<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./layout/head") %>

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/chat.css">

    <title>Chat</title>
</head>

<body>
  <main role="main">
    dfdfdfdfd
  </main>

  <%- include("./layout/nav-bottom") %>
</body>

</html>