<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./layout/head") %>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />
    <link rel="stylesheet" href="/css/chat-list.css">

    <title>Chat</title>
</head>

<body>
  <header>
    <h1>채팅</h1>

    <ul class="btn-list">
      <li class="alarm-btn">
        <div class="alarm-remain"></div>
        <i class="far fa-bell"></i>
      </li>
    </ul>
  </header>

  <main role="main">
    <ul>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
      <li>
        <a href="#">
          <div class="left-items">
            <div class="profile-img"></div>
            <div class="chat-info">
              <div class="name-loca-date">
                <span class="name">테스트봇</span>
                <span class="loca">서울특별시 · </span>
                <span class="date">1분 전</span>
              </div>
              <span class="recent-message">안녕하세요:)</span>
            </div>
          </div>

          <img class="post-img" src="/img/iphone12-mini.jpg" alt="post image">
        </a>
      </li>
    </ul>
  </main>

  <%- include("./layout/nav-bottom") %>
</body>

</html>