<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/head") %>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />
    <link rel="stylesheet" href="/css/first.css" />

    <title>First</title>
  </head>

  <body>
      <!-- MAIN -->
    <main role="main" class="main">
        <section class="first section" id="first">
          <div class="fisrt__container container grid first">
            <div class="first__content grid">
              <div class="first__img">
                <img src="/img/only-logo.png" alt="" / class="">
               
              </div>
              
              <h3 class="first__title">당신 근처의 코다마켓</h3>
              <p class="first__subtitle">중고 거래부터 동네 정보까지,</br>
                지금 내 동네를 선택하고 시작해보세요!
              </p>
            
            </div>

            
          </div>
          <div class="first__button container">
            <a href="./signup" class="button">시작하기</a>
            <p>이미 계정이 있나요? <a href="./login"><span class="first__login">로그인</span></a> </p>
          </div>
        </section>

        
    </main>
  </body>
</html>
