<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/head") %>


    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/nav-top.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />
    <link rel="stylesheet" href="/css/home.css">


    <script src="/js/home.js" defer></script>

    <title>Home</title>
  </head>

  <body>
    <%- include("./layout/nav-top") %>

    <main role="main">
      <ul>
        <li>
          <%= posts %>
          <a href="./product/detail">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">

              <img src="/img/iphone12-mini.jpg" alt="">

              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </main>

    <button class="post-btn">
      <a href="/product/post">

        <img src="/img/post-btn.png" alt="">

      </a>
    </button>

    <%- include("./layout/nav-bottom") %>
  </body>
</html>
