<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./layout/head") %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/nav_logo.css" />
    <link rel="stylesheet" href="css/home.css">

    <title>Home</title>
</head>

<body>
  <%- include("./layout/nav_top") %>

    <main role="main">
      <ul>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="post-info">
              <img src="img/iphone12-mini.jpg" alt="">
              <div class="description">
                <h3 class="title">아이폰 12 미니 128G 화이트 팔아요~</h3>
                <div class="loca-and-date">
                  <span class="loca">서울특별시 · </span>
                  <span class="date">3분 전</span>
                </div>
                <span class="price">550,000원</span>
              </div>
            </div>
            <div class="chat-and-like">
              <div class="chat-num">
                <i class="far fa-comment-dots"></i>
                <span>3</span>
              </div>
              <div class="like-num">
                <i class="far fa-heart"></i>
                <span>1</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </main>

    <%- include("./layout/nav_bottom") %>
</body>

</html>