<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />
    <title>mypage</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header mypage__header" id="header">
      <nav class="nav container">
        <a href="javascript:void(0)" class="nav__logo">나의 코다</a>
        <div class="nav__btns">
          <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-cog nav__icon"></i>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN -->
    <main role="main" class="main">
      <!-- Profile -->
      <section class="mypage section" id="mypage">
        <div class="mypage__container container grid">
          <div class="mypage__content grid">
            <div class="mypage__img">
              <img src="/img/profile.png" alt="" />
            </div>
            <div class="mypage__data">
              <h3 class="mypage__name">이름</h3>
              <div>
                <i class="fas fa-star mypage__icon-star"></i>
                <i class="fas fa-star mypage__icon-star"></i>
                <i class="fas fa-star mypage__icon-star"></i>
                <i class="fas fa-star mypage__icon-star"></i>
                <i class="fas fa-star mypage__icon-star"></i>
              </div>
            </div>
          </div>
          <div class="mypage__fix">
            <a href="./profile" class="button">프로필 수정 </a>
          </div>
        </div>
      </section>

      <!-- Histories -->
      <section class="histories section" id="history">
        <div class="histories__container container grid">
          <div>
            <!-- Sales History -->
            <div class="histories__content">
              <div class="histories__header">
                <i class="fas fa-receipt histories__icon"></i>
                <div>
                  <h1 class="histories__title">거래내역</h1>
                </div>
                <i class="fas fa-chevron-down histories__arrow"></i>
              </div>
              <div class="histories__list grid">
                <a href="./detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/histories1.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        RAZER 한손 키보드 판매합니다.
                      </h3>
                      <span class="histories__time">대구광역시 · 1일전</span>
                      <div class="histories__info">
                        <div class="button histories__status progress">
                          판매중
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="./detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/iphone12-mini.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        아이폰 12 미니 판매합니다.
                      </h3>
                      <span class="histories__time">서울특별시 · 3분전</span>
                      <div class="histories__info">
                        <div class="button histories__status done">
                          거래완료
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <!-- Purchase History -->
            <div class="histories__content">
              <div class="histories__header">
                <i class="fas fa-shopping-bag histories__icon"></i>
                <div>
                  <h1 class="histories__title">구매내역</h1>
                </div>
                <i class="fas fa-chevron-down histories__arrow"></i>
              </div>
              <div class="histories__list grid">
                <a href="./detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/histories1.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        RAZER 한손 키보드 판매합니다.
                      </h3>
                      <span class="histories__time">대구광역시 · 1일전</span>
                      <div class="histories__info">
                        <div class="button histories__status progress">
                          판매중
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="./detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/iphone12-mini.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        아이폰 12 미니 판매합니다.
                      </h3>
                      <span class="histories__time">서울특별시 · 3분전</span>
                      <div class="histories__info">
                        <div class="button histories__status done">
                          거래완료
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <!-- Like History -->
            <div class="histories__content">
              <div class="histories__header">
                <i class="fas fa-heart histories__icon"></i>
                <div>
                  <h1 class="histories__title">관심목록</h1>
                </div>
                <i class="fas fa-chevron-down histories__arrow"></i>
              </div>
              <div class="histories__list grid">
                <a href="./detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/histories1.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        RAZER 한손 키보드 판매합니다.
                      </h3>
                      <span class="histories__time">대구광역시 · 1일전</span>
                      <div class="histories__info">
                        <div class="button histories__status progress">
                          판매중
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="detail" class="histories__data">
                  <div class="histories__titles">
                    <img
                      src="/img/iphone12-mini.jpg"
                      alt=""
                      class="histories__img"
                    />
                    <div>
                      <h3 class="histories__name">
                        아이폰 12 미니 판매합니다.
                      </h3>
                      <span class="histories__time">서울특별시 · 3분전</span>
                      <div class="histories__info">
                        <div class="button histories__status done">
                          거래완료
                        </div>
                        <h3 class="histories__price">140,000원</h3>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include("./layout/nav-bottom") %>

    <!-- JS -->
    <script src="/js/mypage.js"></script>
  </body>
</html>
