<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/head") %>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/nav-bottom.css" />

    <title>Profile</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header profile__header" id="header">
      <nav class="nav container">
        <div class="nav__btns">
          <a href="./mypage" class="nav__toggle" id="nav-toggle">
            <i class="fas fa-times nav__icon"></i>
          </a>
        </div>
        <a href="javascript:void(0)" class="nav__logo">프로필 수정</a>
      </nav>
    </header>

    <!-- MAIN -->
    <main role="main" class="main">
      <!-- Profile -->
      <form class="profile section" id="profile form" method="post" enctype="multipart/form-data" action="/profile/edit">
        <div class="profile__container container grid profile" method="post" action="/profile/edit">
          <div class="profile__content grid">
            <div class="profile__img" id="target_img">
              <img src="/img/profile.png" alt="" class="img-profile">
            </div>
            <input type="file" id="file" name="image" accept="image/*" onchange="loadFile(this)" >
          </div>
          <input id="name" type="text" class="profile__rename">
          <p class="profile__alt">프로필 사진과 닉네임을 입력해주세요.</p>

          <div class="selectbox">
            <!-- <select name="addressRegion" id="addressRegion2"></select> -->
            <select name="location" id="addressDo2">
              <option value='전체'>지역 선택</option>
              <option value='서울'>서울특별시</option>
              <option value='부산'>부산광역시</option>
              <option value='대구'>대구광역시</option>
              <option value='인천'>인천광역시</option>
              <option value='광주'>광주광역시</option>
              <option value='대전'>대전광역시</option>
              <option value='울산'>울산광역시</option>
              <option value='경기'>경기도</option>
              <option value='강원'>강원도</option>
              <option value='충북'>충청북도</option>
              <option value='충남'>충청남도</option>
              <option value='전북'>전라북도</option>
              <option value='전남'>전라남도</option>
              <option value='경북'>경상북도</option>
              <option value='경남'>경상남도</option>
              <option value='제주'>제주도</option>
            </select>
            <!-- <select name="addressSiGunGu" id="addressSiGunGu2"></select> -->
          </div>
          <p class="profile__alt">살고 있는 지역을 선택해주세요.</p>
          <div>
            <button type="submit" id="submit" class="btn btn-primary done__btn">완료</button>
          </div>
          
        </div>
      </form>

   

      <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="./js/profile.js"></script>

      
  </body>
</html>
