/* header */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 16px 0 20px;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
  color: black;
}

header h1 {
  font-size: 26px;
}

header .btn-list {
  display: flex;
  align-items: center;
}

header .btn-list li {
  font-size: 20px;
  margin-left: 12px;
}

header .btn-list .alarm-btn .alarm-remain {
  position: absolute;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #6762E0;
}

/* list */
main {
  padding-top: 70px;
}

main ul {
  padding: 0 14px;
}

main ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  border-bottom: 1px solid #E5E5E5;
}

main ul li a .left-items {
  display: flex;
}

main ul li a .left-items .profile-img {
  background-image: url('../img/profile.jpg');
  background-size: cover;
  background-position: center;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 100px;
}

main ul li a .left-items .chat-info .name-loca-date {
  margin-bottom: 4px;
}

main ul li a .left-items .chat-info .name-loca-date .name {
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
}

main ul li a .left-items .chat-info .name-loca-date .loca,
main ul li a .left-items .chat-info .name-loca-date .date {
  font-size: 12px;
  color: #767676;
}

main ul li a .left-items .chat-info .recent-message {
  font-size: 14px;
}

main ul li a .post-img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}


