main ul {
  padding: 0 12px;
}

main ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  border-bottom: 1px solid #E5E5E5;
}

main ul li a .post-info {
  display: flex;
}

main ul li a .post-info img {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 8px;
}

main ul li a .description .title {
  font-size: 16px;
  margin-bottom: 4px;
}

main ul li a .description .loca-and-date {
  font-size: 10px;
  color: #767676;
  margin-bottom: 6px;
}

main ul li a .description .price {
  font-size: 18px;
  font-weight: bold;
}

main ul li a .chat-and-like {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: calc(100% - 24px);
  height: 100px;
  font-size: 12px;
  color: #767676;
}

main ul li a .chat-and-like .chat-num,
main ul li a .chat-and-like .like-num  {
  display: flex;
  align-items: center;
}

main ul li a .chat-and-like .like-num {
  margin-left: 8px;
}

main ul li a .chat-and-like .chat-num span,
main ul li a .chat-and-like .like-num span {
  margin-left: 4px;
  margin-bottom: 4px;
}
