/* HEADER */
.mypage__header {
  top: 0;
  bottom: initial;
  border-bottom: 1px solid rgb(233, 236, 239);
}

.nav__logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--medium-font-weight);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

/* MAIN */
/* mypage */
.mypage.section {
  padding: 2rem 0 2rem;
}
.mypage__container {
  gap: 1rem;
}

.mypage__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.mypage__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: var(--mb-0-25);
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mypage__icon-star {
  color: var(--first-color);
}

.mypage__fix {
  display: grid;
  place-items: center;
}

.mypage__fix .button {
  width: 100%;
  text-align: center;
}

/* History */
.histories__container {
  row-gap: 0;
}

.histories__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.histories__icon,
.histories__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.histories__icon {
  margin-right: var(--mb-0-75);
}

.histories__title {
  font-size: var(--h2-font-size);
}

.histories__list {
  height: 0;
  overflow: hidden;
  row-gap: 1.5rem;
}

.histories__data {
  display: flex;
}

.histories__arrow {
  margin-left: auto;
  transition: 0.4s;
  font-size: 1rem;
}

.histories__titles {
  display: flex;
  margin-bottom: var(--mb-0-5);
}

.histories__img {
  width: 80px;
  height: 80px;
  margin-right: var(--mb-0-5);
}

.histories__description {
  max-width: 75%;
}

.histories__post {
  display: inline-flex;
  align-items: center;
}

.histories__name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--h3-font-size);
}

.histories__dot {
  width: 100%;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.histories__time {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.histories__info {
  display: flex;
  align-items: center;
}

.histories__status {
  padding: 0.3rem 0.5rem;
  margin-right: var(--mb-0-25);
  font-size: var(--small-font-size);
}

.histories__status.progress {
  background-color: #207e81;
}

.histories__status.done {
  background-color: #f75e6a;
}

.histories__price {
  font-size: var(--medium-font-size);
}

.histories__open .histories__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.histories__open .histories__arrow {
  transform: rotate(-180deg);
}
