/* header .init */
header .init {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 16px 0 12px;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
  z-index: 100;
  color: black;
}

header .init .logo-img {
  height: 100%;
}

header .init .btn-list {
  display: flex;
  align-items: center;
}

header .init .btn-list li {
  font-size: 20px;
  margin-left: 12px;
  cursor: pointer;
}

header .init .btn-list .alarm-btn .alarm-remain {
  position: absolute;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #6762E0;
}

/* header .search */
header .search {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
  z-index: 100;
  color: black;
}

header .search .btn-list {
  position: absolute;
  left: 16px;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

header .search .btn-list li {
  font-size: 20px;
  cursor: pointer;
}

header .search form input {
  width: 300px;
  height: 32px;
  margin-left: 30px;
  border: none;
  border-radius: 10px;
  background-color: #E5E5E5;
  text-align: center;
}

header .none {
  display: none;
}