header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 16px 0 12px;
  border-bottom: 1px solid #E5E5E5;
  background-color: white;
  z-index: 100;
}

header .logo-img {
  height: 100%;
}

header .btn-list {
  display: flex;
  align-items: center;
}

header .btn-list li {
  font-size: 20px;
  margin-left: 12px;
}

header .btn-list .alarm-btn .alarm-remain {
  position: absolute;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #6762E0;
}