<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../layout/head") %>

  <title>Document</title>
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
  integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
  crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/base.css"/>
  <link rel="stylesheet" href="/css/nav.css"/>
  <link rel="stylesheet" href="/css/detail.css" />
</head>
<body>

  <div class="menus"> 

    <div class="menu1">
      <ul>
        <li><a href="/"><i class="fas fa-arrow-left"></a></i></li>
        <li><a href="/"><i class="fas fa-home"></a></i></li>
      </ul>
    </div>
    
    <div class="menu2">
      <li><a href="/product/postedit">수정</a></i></li>
      <li><a href="#">삭제</a></i></li>
      
        <!-- <button id="modal_btn"><i class="fas fa-ellipsis-v"></button></i> -->
    </div>

  </div>

  <div class="detail-img">
    <ul class="slides">
      <li><img src="/img/mac.jpg"></li>
    </ul>
  </div>

  <div class="detail-page">

      <div class="detail-ch"> 

        <div class="detail-info">
          <a href="/mypage"><img src="/img/user.jpg"></a>
          <div class="info-my">
            <span>Nick_name</span>
            <span>경기도</span>
          </div>
        </div>
        
        <div class="product-check check1">
            판매중
        </div>
        <!-- <div class="imfo-box">
          <div class="like">
            <i class="far fa-thumbs-up"></i>
            <button class="like-btn" onclick="like_click(1)">좋아요</button>
          </div>
          <div class="dislike">
            <i class="far fa-thumbs-down"></i>
            <button class="dislike-btn" onclick="like_click(2)">싫어요</button>
          </div>

        </div> -->

      </div>
      <hr style="border: solid 1px #f3eeee">
    
    <div class="defailt-content">
      <div class="content-top">
        <h1>맥북 프로 2021</h1>
        <div class="content-info">
          <a href="/">카테고리</a> · <span> 끌올 3일 전</span>
        </div>
      </div>

      <div class="content-mid">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quam laborum iste quibusdam tempora doloremque temporibus libero, dolorum nobis quae</p>
      </div>

      <div class="content-bottom">
        <p>관심 10 · 조회 269</p>
      </div>
    </div>
    <hr style="border: solid 1px #f3eeee">

    
    <div class="now-product-list">
      <h4>Nick_name님의 판매 상품</h4>
      <a href="">모두보기</a>
    </div>
    <hr style="border: solid 1px #f3eeee">

    <div class="container">
      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>
      
      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>

      <div class="product-item">
        <a href="/product/detail/"><img src="/img/sample.jpg"></a>
        <div class="product-info">
          <a href="/product/detail/" class="product-title">샘플 데이터</a>
          <span class="product-price">10,000원</span>
        </div>
      </div>
      

    </div>
  </div>
  <hr style="border: solid 1px #f3eeee">

    
    <div class="detail-last">
      <div class="last-menu1">
          <div class="menu1-item">
            <button onclick="save_cart()"><i class="far fa-heart"></i></i></button>
            <div class="re"></div>
            <div class ="dscription">
              <span id="ds-pice">100,000원</span>
              <span id="ds-option">가격 제안 불가</span>
            </div>
          </div>
      </div>

      <div class="last-menu2">
        <a href="">채팅으로 거래하기</a>
      </div>
  </div>

  <script>
  
    let save_cart = (value) => {
      let data = document.querySelector(".menu1-item > button > i")
      data.classList.toggle("save-cart")
    }

    let like_click = (value) => {

      if(value === 1) {
        let data = document.querySelector(".like > i")
        let btnData = document.querySelector(".like-btn")
        data.classList.toggle("like-on");
        btnData.classList.toggle("like-on");

      } else {
        let data = document.querySelector(".dislike > i")
        let btnData = document.querySelector(".dislike-btn")
        data.classList.toggle("dislike-on");
        btnData.classList.toggle("dislike-on");
      }

    }

  </script>
</body>
</html>