* {
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  position: fixed;
  background-color: #212121;
  width: 1903px;
  padding: 100px 80px 0;
  justify-content: space-around;
  align-items: center;
}

.selectOption {
  padding-top: 50px;
}

.viewContainer {
  width: 1903px;
  height: 925px;
  background-color: #fff8e1;
}
