h1 {
  padding-top: 30px;
  font-size: 48px;
}

p {
  padding: 20px 0;
}

input {
  margin-bottom: 8px;
  width: 220px;
  height: 28px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.basicContainer {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.loginTitle {
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.inputBox {
  color: white;
  font-weight: bold;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupBtn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid #ff6f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  margin: 40px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.signupBtn:hover {
  background: rgb(255, 177, 87);
  background: linear-gradient(
    90deg,
    rgba(255, 177, 87, 0.3) 0%,
    rgba(255, 111, 0, 1) 100%
  );
  color: black;
}

.basicContainer {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.signbackdrop {
  position: absolute;
  top: 150px;
  width: 500px;
  height: 750px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 200, 145, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.sticker {
  z-index: 4;
  visibility: hidden;
  position: fixed;
  bottom: -150px;
  /* left: 200px; */
  /* /* transform: translateX(0%); */
  transform: translateY(0%);
  min-width: 400px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}

.moving {
  visibility: visible;
  animation: fa-in 700ms, fa-out 700ms 2000ms;
}

@keyframes fa-in {
  from {
    opacity: 0;
    bottom: -150px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes fa-out {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -150px;
  }
}

/* .toast {
  visibility: hidden;
  position: fixed;
  top: 120px;
  left: 540px;
  transform: translateX(100%);
  transform: translateY(-50%);
  min-width: 400px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}
.show {
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast1 {
  visibility: hidden;
  position: fixed;
  bottom: 500px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}
.show1 {
  z-index: 3;
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast2 {
  visibility: hidden;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}
.show2 {
  z-index: 3;
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast3 {
  visibility: hidden;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}
.show3 {
  z-index: 3;
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast4 {
  visibility: hidden;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  border-radius: 25px;
  background-color: #666666;
  color: #ffffff;
  padding: 15px 25px;
}
.show4 {
  z-index: 3;
  visibility: visible;
  animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */
