* {
  box-sizing: border-box;
  /* color: black; */
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

h1 {
  color: white;
}

.testBtn,
.statBtn {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid #ff6f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  margin: 40px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.testBtn:hover,
.statBtn:hover {
  background: rgb(255, 177, 87);
  background: linear-gradient(
    90deg,
    rgba(255, 177, 87, 0.3) 0%,
    rgba(255, 111, 0, 1) 100%
  );
  color: black;
}

.guide_word {
  padding-bottom: 21px;
  color: white;
}

.guideContainer {
  padding-top: 100px;
  display: flex;
  margin: 20px 0px;
}

.guides__left {
  flex-basis: 60%;
  padding: 20px 80px 20px 300px;
}

.guides__right {
  margin-right: 312px;
  flex-basis: 30%;
  text-align: center;
  align-self: center;
  box-shadow: 12px 12px 4px 1px rgba(0, 0, 0, 0.3);
}

.imgs {
  width: 100%;
  height: 100%;
}
