<header>
  <div class="init">
    <img class="logo-img" src="/img/logo.png" alt="" />

    <ul class="btn-list">
      <li class="search-btn">
        <i class="fas fa-search"></i>
      </li>
      <li class="category-btn">
        <a href="../category">
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <li class="alarm-btn">
        <div class="alarm-remain"></div>
        <i class="far fa-bell"></i>
      </li>
    </ul>
  </div>

  <div class="search none">
    <ul class="btn-list">
      <li class="back-btn">
        <i class="fas fa-arrow-left"></i>
      </li>
    </ul>

    <form action="/search" method="get">
      <input
        name="input"
        type="text"
        placeholder="검색할 상품을 입력해주세요:)"
      />
    </form>
  </div>
</header>
