<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <title>nav</title>
  </head>

  <body>
    <header class="header" id="header">
      <nav class="nav container">
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">
                <i class="fas fa-home nav__icon"></i> 홈
              </a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">
                <i class="fas fa-comment-dots nav__icon"></i> 채팅
              </a>
            </li>
            <li class="nav__item">
              <a href="javascript:void(0)" class="nav__link">
                <i class="fas fa-user nav__icon"></i> 프로필
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
