<header class="header" id="header">
  <nav class="nav container">
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="javascript:void(0)" class="nav__link">
            <i class="fas fa-home nav__icon"></i> 홈
          </a>
        </li>
        <li class="nav__item">
          <a href="javascript:void(0)" class="nav__link">
            <i class="fas fa-comment-dots nav__icon"></i> 채팅
          </a>
        </li>
        <li class="nav__item">
          <a href="javascript:void(0)" class="nav__link">
            <i class="fas fa-user nav__icon"></i> 프로필
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

