<header>
  <div class="logo_box">
    <img class="logo-img" src="img/logo.png" alt="" />

    <div class="menus">
      <ul>
        <li class="menu_item"><a href="#">로그인</a></li>
        <!-- router login 으로 -->
        <li class="menu_item"><a href="#">회원가입</a></li>
        <!-- router signup 으로 -->
      </ul>
    </div>
  </div>
</header>
