<header>
  <img class="logo-img" src="img/logo.png" alt="">

  <ul class="btn-list">
    <li class="search-btn">
      <i class="fas fa-search"></i>
    </li>
    <li class="category-btn">
      <i class="fas fa-bars"></i>
    </li>
    <li class="alarm-btn">
      <div class="alarm-remain"></div>
      <i class="far fa-bell"></i>
    </li>
  </ul>
</header>